<div class="chat-container">
  <div class="chat-header">
    <h3>{{ data.recipient.name }} {{ data.recipient.lastname }}</h3>
    <button class="close-btn" (click)="closeDialog()">X</button>
  </div>
  <div class="chat-body">
    <div *ngFor="let message of messages"
         class="message"
         [ngClass]="{
          'recipient-message': message.recipientId === userId,
          'user-message': message.recipientId !== userId
         }">
      <p>{{ message.message }}</p>
    </div>
  </div>
  <div class="chat-input">
    <input [(ngModel)]="newMessage" matInput type="text" placeholder="Type a message..." (keydown.enter)="sendMessage()"/>
    <button mat-icon-button (click)="sendMessage()">
      <mat-icon>send</mat-icon>
    </button>
  </div>
</div>
