<div class="chat-container">
  <div class="chat-header">
    <h3>Chat</h3>
    <button class="close-btn" (click)="closeDialog()">X</button>
  </div>
  <div class="chat-body">
    <div *ngFor="let message of messages"
         [ngClass]="{
          'recipient-message': message.recipientId === userId,
          'user-message': message.recipientId !== userId
         }">
      <p>{{ message.message }}</p>
    </div>
    <input [(ngModel)]="newMessage" matInput type="text" placeholder="Type a message..." (keydown.enter)="sendMessage()"/>
  </div>
</div>
