.container {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 20px;
  padding-right: 50px;
  background-color: #E3DCD1;
}

h2 {
  font-family: jeju;
  text-align: center;
}

.left-panel {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-panel img {
  width: 80%;
  height: auto;
}

.right-panel {
  flex: 1;
  background-color: #ECEAE6;
  padding: 30px;
  border-radius: 0 10px 10px 0;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

mat-form-field {
  width: 100%;
}

.footer {
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
  color: #7d7d7d;
}

.footer button {
  color: #35422F;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.error-message {
  color: #fc6a59;
  background-color: #f8d7da;
  border: 1px solid #fc6a59;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  word-wrap: break-word;
}