<div class="container">
    <mat-card>
      <mat-card-header>
        <mat-card-title> {{ event?.name }}</mat-card-title>
        <mat-card-subtitle class="type">
          <strong>Event type: </strong> {{ event?.eventType }}
        </mat-card-subtitle>
        <mat-card-subtitle class="type">
          <strong>Privacy type: </strong> {{ event?.privacy }}
        </mat-card-subtitle>
        <div *ngIf="loggedIn" class="action-buttons">
            <button mat-icon-button (click)="toggleFavourite()">
              <mat-icon> {{ isFavourite ? 'favorite' : 'favorite_border' }} </mat-icon>
            </button>
            <button mat-icon-button (click)="openChatDialog()" >
              <mat-icon>message</mat-icon>
            </button>
        </div>
    </mat-card-header>
      <mat-card-content>
        <p class="description">{{ event?.description }}</p>
        <p><mat-icon>groups</mat-icon> {{ event?.maxParticipants }}</p>
        <p><mat-icon>location_on</mat-icon><strong> {{ event?.address }} </strong></p>
        <p><mat-icon>location_city</mat-icon><strong> {{ event?.city }} </strong></p>
        <p><mat-icon>date_range</mat-icon><strong> {{ event?.date }} </strong></p>
      </mat-card-content>
    </mat-card>
    <mat-card class="question" *ngIf="loggedIn">
      <p>Are you planning to join this event?</p>
        <button mat-button (click)="addToCalendar()">
          <mat-icon>event_available</mat-icon>
          Add to calendar
        </button>
    </mat-card>
</div>
