.popup-container {
  width: 100%;
  background-color: #E3DCD1;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}


mat-dialog-content {
  font-size: 16px;
}

mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
}
