<div class="dialog">
    <h2>Change Your Password</h2>
    <form [formGroup]="changePasswordForm">
        <mat-form-field appearance="outline" class="form-control">
            <mat-label>Old password</mat-label>
            <input matInput formControlName="oldPassword" type="password" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-control">
            <mat-label>New password</mat-label>
            <input matInput formControlName="password" type="password" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-control">
            <mat-label>Confirm new password</mat-label>
            <input matInput formControlName="passwordConfirmation" type="password" />
            <mat-error *ngIf="changePasswordForm.hasError('passwordMismatch')">Passwords do not match</mat-error>
        </mat-form-field>
    </form>
    <button mat-raised-button class="standard-button" [disabled]="changePasswordForm.invalid" (click)="save()">Save</button>
</div>
