<div class="cards-screen">
  <mat-toolbar class="toolbar">
    <div class="title-container">
      <h1 class="title">Events</h1>
    </div>
    <app-search-bar class="searcher" (searcher)="onSearch($event)" />
  </mat-toolbar>
    
  <div class="events-cards">
    <div class="cards">
      <app-event-card *ngFor="let event of events" [showActions]="true" [event]="event"/>
    </div>
  </div>
  
  <mat-paginator *ngIf="pageProperties" (page)="onPageChanged($event)" [pageIndex]="pageProperties.pageIndex"
                  [length]="pageProperties.totalCount" [pageSize]="pageProperties.pageSize">
  </mat-paginator>
</div>
  