
.container {
    display: grid;
    grid-template-columns: 2fr 1.5fr; 
    gap: 20px;
    padding: 20px;
    background-color: #ECEAE6;
    font-family: 'jeju';
    border-radius: 8px;
  }

.form-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-left: 140px;
  padding-right: 100px;
}

.address-group {
  display: flex;
  gap: 16px;
}

.address-field {
  flex: 2;
}

.city-field {
  flex: 1;
}

mat-form-field {
  width: 100%;
}
 
.submit-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
} 

.submit-button {
  display: flex;
  position: relative;
  background-color: #E3DCD1;
}

.upload-fab {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: #E3DCD1;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.images-section {
  position: relative; 
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 500px;
  overflow-y: auto;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #E3DCD1;
  margin-right: 20px;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.delete-button {
  position: absolute;
  top: 4px;
  right: 4px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
}

.scrollable-container {
  max-height: 400px; 
  overflow-y: auto;
  border: 1px solid #E3DCD1; 
  padding: 20px;
  margin-right: 20px;
  margin-top: 105px;
}

.image-grid {
  display: flex;
  flex-wrap: wrap; 
  gap: 20px; 
}
  
.image-label {
  font-family: 'jeju';
}

h2 {
  color: #35422F;
  text-align: center ;
}