.planned-amount {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1.5rem;
}

.planned-amount mat-form-field {
  margin-top: 1.5rem;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
  margin: 16px 0;
  width: 100%;
}
