.event-card {
    width: 15rem;
    height: 18rem;
    margin: 1rem;
}

.event-card img {
    height: 14rem;
}

.event-card mat-card-header {
    justify-content: space-between;
    align-items: center;
}

.event-card mat-card-header .title {
    font-size: 1rem;
    font-family: jeju, serif;
    font-weight: bold;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    color: #35422f;
}

.event-card .mat-card-content {
    font-size: 0.9rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.event-card .mat-card-content p {
    margin: 4px 0;
    text-align: center;
}

.event-card mat-card-actions {
    justify-content: space-between;
    align-items: center;
}

.event-card mat-card-actions .see-more-button {
    text-transform: none;
    background-color: #35422f;
    color: #f5f5f5;
}

.event-card .action-button {
    background-color: #d3d3d3;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    margin: 0 3px;
}

.event-card .action-button mat-icon {
    font-size: 28px;
}

.event-card .action-button:hover {
    background-color: #b0b0b0;
}
