<h2 mat-dialog-title>Budget</h2>
<div class="budget-content">
  <app-budget-table
    *ngIf="items && items.length > 0"
    [items]="items"
    [eventId]="eventId"
    (deletedItem)="onDelete($event)"
    (navigateToPlanner)="navigateToPlanner()"
  ></app-budget-table>
  <div *ngIf="!items || items.length == 0" class="no-items">
    There is no budget items yet.
  </div>
  <div *ngIf="!items || items.length == 0" class="button-container">
    <button mat-icon-button (click)="navigateToPlanner()" matTooltip="Plan">
      <mat-icon>schedule</mat-icon>
    </button>
  </div>
</div>
