<div class="screen">
  <form class="service-details" [formGroup]="createServiceForm">
    <h4>General</h4>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput type="text" name="name" formControlName="name"/>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Price</mat-label>
      <mat-icon matSuffix>euro</mat-icon>
      <input matInput type="number" name="price" formControlName="price"/>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Discount</mat-label>
      <input matInput type="number" name="discount" formControlName="discount"/>
    </mat-form-field>
    <mat-form-field class="textarea">
      <mat-label>Description</mat-label>
      <textarea matInput type="text" name="description" formControlName="description"></textarea>
    </mat-form-field>
    <mat-form-field class="textarea">
      <mat-label>Specialties</mat-label>
      <textarea matInput type="text" name="specialties" formControlName="specialties"></textarea>
    </mat-form-field>
    <h4>Visibility and availability</h4>
    <section class="checkbox">
      <mat-checkbox name="visible" formControlName="visible">Visible</mat-checkbox>
      <mat-checkbox name="available" formControlName="available">Available</mat-checkbox>
    </section>
    <h4>Confirmation</h4>
    <mat-radio-group aria-label="Confirmation" formControlName="confirmation">
      <mat-radio-button [value]="Confirmation.MANUAL">Manual</mat-radio-button>
      <mat-radio-button [value]="Confirmation.AUTOMATIC">Automatic</mat-radio-button>
    </mat-radio-group>
    <h4>Deadlines</h4>
    <mat-form-field>
      <mat-label>Reservation date</mat-label>
      <input matInput [matDatepicker]="reservationDeadlinePicker" formControlName="reservationDeadline" name="reservationDeadline">
      <mat-datepicker-toggle matIconSuffix [for]="reservationDeadlinePicker"></mat-datepicker-toggle>
      <mat-datepicker #reservationDeadlinePicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Cancellation date</mat-label>
      <input matInput [matDatepicker]="cancellationDeadlinePicker" formControlName="cancellationDeadline" name="cancellationDeadline">
      <mat-datepicker-toggle matIconSuffix [for]="cancellationDeadlinePicker"></mat-datepicker-toggle>
      <mat-datepicker #cancellationDeadlinePicker></mat-datepicker>
    </mat-form-field>
    <h4>Duration</h4>
    <mat-form-field>
      <mat-label>Minimum duration</mat-label>
      <input matInput type="number" name="minDuration" formControlName="minDuration"/>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Maximum duration</mat-label>
      <input matInput type="number" name="maxDuration" formControlName="maxDuration"/>
    </mat-form-field>
  </form>
  <div class="button-create" (click)="onCreate()">
    <button mat-raised-button>Create</button>
  </div>
</div>
