.service-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

mat-form-field {
  width: 500px;
}

.button-create {
  display: flex;
  justify-content: center;
}

.button-create > button {
  background-color: #35422F;
  color: #ECEAE6;
}

.screen {
  background-color: #ECEAE6;
}
