<div class="screen">
  <form class="service-details" [formGroup]="createServiceForm">
    <h2>Create Service</h2>
    <div class="form-section">
      <h4 class="section-title">General Information</h4>
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Name</mat-label>
        <input matInput type="text" name="name" formControlName="name"/>
      </mat-form-field>
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Price</mat-label>
        <mat-icon matSuffix>euro</mat-icon>
        <input matInput type="number" name="price" formControlName="price"/>
      </mat-form-field>
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Discount</mat-label>
        <input matInput type="number" name="discount" formControlName="discount"/>
      </mat-form-field>
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Category</mat-label>
        <mat-select formControlName="category">
          <mat-option [value]="null">I would like to suggest a category</mat-option>
          <mat-option *ngFor="let category of categories" [value]="category">{{ category.name }}</mat-option>
        </mat-select>
      </mat-form-field>
      <div *ngIf="!createServiceForm.controls['category'].value">
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Suggest Category Name</mat-label>
          <input matInput name="suggestedCategoryName" formControlName="suggestedCategoryName"/>
        </mat-form-field>
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Suggest Category Description</mat-label>
          <textarea matInput name="suggestedCategoryDescription" formControlName="suggestedCategoryDescription"></textarea>
        </mat-form-field>
      </div>
    </div>

    <h4 class="section-title">Details</h4>
    <div class="form-section">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Description</mat-label>
        <textarea matInput name="description" formControlName="description"></textarea>
      </mat-form-field>
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Specialties</mat-label>
        <textarea matInput name="specialties" formControlName="specialties"></textarea>
      </mat-form-field>
    </div>

    <div class="form-section">
      <h4 class="section-title">Photos</h4>
      <div class="image-grid">
        <div *ngFor="let image of imagePreviews" class="image-item">
          <img [src]="image" alt="Image" class="image-thumbnail" />
        </div>
      </div>
      <button mat-raised-button class="upload-button" (click)="fileInput.click()">
        <mat-icon>upload</mat-icon>
        Upload Photos
      </button>
      <input
        #fileInput
        type="file"
        multiple
        accept="image/*"
        (change)="onFilesSelected($event)"
        style="display: none"
      />
    </div>

    <div class="form-section">
      <h4 class="section-title">Visibility and Availability</h4>
      <mat-checkbox name="visible" formControlName="visible">Visible</mat-checkbox>
      <mat-checkbox name="available" formControlName="available">Available</mat-checkbox>
    </div>

    <div class="form-section">
      <h4 class="section-title">Confirmation</h4>
      <mat-radio-group aria-label="Confirmation" formControlName="reservationType">
        <mat-radio-button [value]="ReservationType.MANUAL">Manual</mat-radio-button>
        <mat-radio-button [value]="ReservationType.AUTOMATIC">Automatic</mat-radio-button>
      </mat-radio-group>
    </div>

    <div class="form-section">
      <h4 class="section-title">Deadlines</h4>
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Reservation Deadline (days)</mat-label>
        <input type="number" matInput formControlName="reservationDeadline" name="reservationDeadline">
      </mat-form-field>
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Cancellation Deadline (days)</mat-label>
        <input type="number" matInput formControlName="cancellationDeadline" name="cancellationDeadline">
      </mat-form-field>
    </div>

    <div class="form-section">
      <h4 class="section-title">Duration</h4>
      <mat-slider min="1" max="24" step="1" thumbLabel class="duration-slider">
        <input matSliderStartThumb name="minDuration" formControlName="minDuration">
        <input matSliderEndThumb name="maxDuration" formControlName="maxDuration">
      </mat-slider>
      <div>
        <span>Min Duration: {{ createServiceForm.get('minDuration')?.value }} hours</span> |
        <span>Max Duration: {{ createServiceForm.get('maxDuration')?.value }} hours</span>
      </div>
    </div>

    <div class="form-section">
      <h4 class="section-title">Event Types</h4>
      <mat-selection-list formControlName="eventTypes" [multiple]="true">
        <mat-list-option *ngFor="let type of eventTypes" [value]="type">
          {{ type.name }}
        </mat-list-option>
      </mat-selection-list>
    </div>

    <div class="button-create">
      <button mat-raised-button (click)="onCreate()" [disabled]="createServiceForm.invalid" class="create-button">
        Create
      </button>
    </div>
  </form>
</div>
