<div class="cards-screen">
    <mat-toolbar class="toolbar">
      <div class="title-container">
        <h1 class="title">Products</h1>
      </div>
      <div class="filters">
        <app-search-bar class="searcher" (searcher)="onSearch($event)" />
        <button mat-icon-button class="filter-button" aria-label="Filter" (click)="openDialog()">
          <mat-icon>tune</mat-icon>
        </button>
      </div>
    </mat-toolbar>
    
    <div class="products-cards">
      <div class="cards">
        <app-product-card *ngFor="let product of products" [showActions]="true" [product]="product"/>
      </div>
    </div>
  
    <mat-paginator *ngIf="pageProperties" (page)="onPageChanged($event)" [pageIndex]="pageProperties.pageIndex"
                   [length]="pageProperties.totalCount" [pageSize]="pageProperties.pageSize">
    </mat-paginator>
  </div>
  