<div class="cards-screen">
  <mat-toolbar class="toolbar">
    <h1 class="title">Category Proposals</h1>
  </mat-toolbar>
  <div class="category-cards">
    <div class="cards" *ngIf="categoryProposals.length !== 0">
      <app-category-card
        [proposalCard]="true"
        (accept)="updateCategoryStatus($event, Status.ACCEPTED)"
        (decline)="updateCategoryStatus($event, Status.DECLINED)"
        (update)="openUpdateCategory($event)"
        *ngFor="let category of categoryProposals" [category]="category"
        ></app-category-card>
    </div>
    <h3 *ngIf="categoryProposals.length === 0">No category proposals found!</h3>
  </div>
</div>

