.cards-screen .create-card mat-icon {
  position: fixed;
  transform: scale(2);
  bottom: 32px;
  right: 32px;
  z-index: 1000;
}

.cards-screen {
  background-color: #eceae6;
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
}

.cards-screen .toolbar .filters {
  display: flex;
  align-items: center;
  margin-right: 5rem;
}


.cards-screen .toolbar .filters .filter-button {
  margin-left: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.cards-screen .toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #eceae6;
}

.cards-screen .toolbar .space {
  flex: 1;
}

.cards-screen .category-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
  margin: 16px 0;
  width: 100%;
}

.create-card mat-icon {
  position: fixed;
  transform: scale(2);
  bottom: 32px;
  right: 32px;
  z-index: 1000;
}

.cards-screen .category-cards .cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 1fr;
  padding: 16px;
}

.cards-screen .toolbar .title {
  flex: 1;
  text-align: center;
  margin: 0;
  font-size: 2.5rem;
  font-family: jeju, serif;
  color: #35422F;
}
