<div class="cards-screen">
  <mat-toolbar class="toolbar">
    <h1 class="title">Services</h1>
    <div class="filters">
      <app-search-bar (searcher)="onSearch($event)"></app-search-bar>
      <button mat-icon-button class="filter-button" (click)="openDialog()">
          <mat-icon>tune</mat-icon>
      </button>
      <button mat-button [matMenuTriggerFor]="sortMenu">
        Sort
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
      <mat-menu #sortMenu="matMenu">
        <button mat-menu-item (click)="onSortChange('discount_desc')">
          <mat-icon *ngIf="selectedSort === 'discount_desc'">check</mat-icon>
          Discount descending
        </button>
        <button mat-menu-item (click)="onSortChange('discount_asc')">
          <mat-icon *ngIf="selectedSort === 'discount_acs'">check</mat-icon>
          Discount ascending
        </button>
      </mat-menu>
    </div>
  </mat-toolbar>
  <div class="service-cards">
    <div class="cards">
        <app-service-card *ngFor="let service of services" [service]="service" ></app-service-card>
    </div>
    <mat-paginator *ngIf="pageProperties" (page)="onPageChanged($event)" [pageIndex]="pageProperties.pageIndex" 
    [length]="pageProperties.totalCount" [pageSize]="pageProperties.pageSize">
    </mat-paginator>
  </div>
</div>