<div class="cards-screen">
  <mat-toolbar class="toolbar">
    <h1 class="title">Services</h1>
    <div class="filters">
      <app-search-bar (searcher)="onSearch($event)"></app-search-bar>
      <button mat-icon-button class="filter-button" (click)="openDialog()">
          <mat-icon>tune</mat-icon>
      </button>
    </div>
  </mat-toolbar>
  <div class="service-cards">
    <div class="cards">
        <app-service-card *ngFor="let service of services" [service]="service" ></app-service-card>
    </div>
    <mat-paginator *ngIf="pageProperties" (page)="onPageChanged($event)" [pageIndex]="pageProperties.pageIndex" 
    [length]="pageProperties.totalCount" [pageSize]="pageProperties.pageSize">
    </mat-paginator>
  </div>
</div>