<div class="popup-container">
  <button mat-icon-button class="close-button"  (click)="onClose()">
    <mat-icon>clear</mat-icon>
  </button>
  <h1 mat-dialog-title>Edit category</h1>
  <form [formGroup]="editCategoryForm">
    <mat-form-field class="form-group" appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput type="text" name="name" formControlName="name"/>
    </mat-form-field>
    <mat-form-field appearance="outline" class="form-group">
      <mat-label>Description</mat-label>
      <textarea matInput type="text" name="description" formControlName="description"></textarea>
    </mat-form-field>

    <div class="save-button">
      <button mat-button (click)="onSave()">Save</button>
    </div>
  </form>
</div>
