<div class="modal-overlay">
  <div class="modal-container">
    <button mat-icon-button (click)="onClose()">
      <mat-icon>clear</mat-icon>
    </button>
    <h2>Edit category</h2>
    <form [formGroup]="editCategoryForm">
      <mat-form-field class="form-group">
        <mat-label>Name</mat-label>
        <input matInput type="text" name="name" formControlName="name"/>
      </mat-form-field>
      <mat-form-field class="form-group">
        <mat-label>Description</mat-label>
        <textarea matInput type="text" name="name" formControlName="description"></textarea>
      </mat-form-field>

      <button type="button" class="apply-button" (click)="onSave()">Save</button>
    </form>
  </div>
</div>
