.service-card {
  width: 16rem;
  height: 18rem;
  margin: 1rem;
  position: relative;
}

.service-card .sale-badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: red;
  color: yellow;
  font-size: 1.2rem;
  padding: 5px 10px;
  border-radius: 2rem;
  z-index: 10;
}

.pending-status {
  background-color: #ff9800;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: bold;
  font-size: 14px;
}

.pending-label {
  text-transform: uppercase;
}

.hidden-status {
  background-color: #9e9e9e;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  position: absolute;
  bottom: 50%;
  right: 10px;
  font-weight: bold;
  font-size: 14px;
}

.hidden-label {
  text-transform: uppercase;
}

.service-card img {
  height: 9.5rem;
  width: 16rem;
}

.service-card mat-card-header {
  justify-content: space-between;
  align-items: center;
}

.service-card mat-card-header .title {
  font-size: 1rem;
  font-family: jeju, serif;
  font-weight: bold;
  color:#35422f
}

.service-card mat-card-header .rating {
  display: flex;
  align-items: center;
}

.service-card mat-card-header .rating mat-icon {
  color: #fdd835;
  margin-right: 4px;
}

.service-card mat-card-header {
  justify-content: space-between;
  align-items: center;
}

.service-card .mat-card-header .rating span {
  font-size: 1.2rem;
}

.service-card .mat-card-content {
  font-size: 0.9rem;
}

.service-card .mat-card-content p {
  margin: 4px 0;
}

.service-card mat-card-actions {
  justify-content: space-between;
  align-items: center;
}

.service-card mat-card-actions .see-more-button {
  text-transform: none;
  background-color: #35422f;
  color: #F5F5F5;
}

.service-card .action-button {
  background-color: #d3d3d3;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 0 3px;
}

.service-card .action-button mat-icon {
  font-size: 25px;
}

.service-card .action-button:hover {
  background-color: #b0b0b0;
}
