<mat-card class="service-card">
  <img src="photo_placeholder.png" alt="Service Image" />
  <mat-card-header>
    <mat-card-title class="title">{{service.name}}</mat-card-title>
    <div class="rating">
      <mat-icon>star</mat-icon>
      <span>{{service.rating}}</span>
    </div>
  </mat-card-header>

  <mat-card-content>
    <p><strong>Category:</strong> {{service.categoryName}}</p>
    <p><strong>Event type:</strong> {{service.eventType}}</p>
    <p><strong>Provider:</strong> {{service.provider}}</p>
  </mat-card-content>

  <mat-card-actions>
    <button mat-button class="see-more-button" [routerLink]="['/service-details', service.id]">See more</button>
    <p class="price">&euro; {{ service.price }}</p>
    <div class="action-buttons" *ngIf="showActions">
      <button mat-icon-button class="action-button" (click)="onDelete()">
        <mat-icon>delete</mat-icon>
      </button>
      <button mat-icon-button class="action-button" [routerLink]="['/edit-service', service.id]">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
  </mat-card-actions>
</mat-card>
