<div class="cards-screen">
  <mat-toolbar class="toolbar">
    <h1 class="title">Services</h1>
    <div class="filters">
      <app-search-bar></app-search-bar>
      <button mat-icon-button class="filter-button" aria-label="Filter" (click)="openFilter()">
        <mat-icon>tune</mat-icon>
      </button>
    </div>
  </mat-toolbar>
  <div class="service-cards">
    <div class="cards">
      <div *ngFor="let service of services">
        <app-service-card [showActions]="true" [service]="service" (delete)="deleteService($event)"></app-service-card>
      </div>
    </div>
    <button mat-icon-button class="create-card" [routerLink]="['/create-service']">
      <mat-icon>add_circle</mat-icon>
    </button>
    <mat-paginator [pageSizeOptions]="[9]" [length]="getTotalServiceCount()" (page)="onPageChanged()"></mat-paginator>
  </div>
</div>
<app-service-filter *ngIf="showFilter" (closeFilter)="closeFilter()"></app-service-filter>
