<div class="screen" *ngIf="user">
  <mat-card class="account-container">
    <button mat-icon-button [matMenuTriggerFor]="menu" class="menu-button">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="reportUser()">Report user</button>
        <button mat-menu-item (click)="blockUser()">Block user</button>
      </mat-menu>
    <div>
      <div class="profile-picture">
        <img *ngIf="user.profilePhoto" [src]="user.profilePhoto" alt="Profile Picture" />
        <mat-icon *ngIf="!user.profilePhoto" class="placeholder-icon">person</mat-icon>
      </div>
      <h2 class="name">{{ user.name }} {{user.lastname}}</h2>
      <p class="role"> {{ user.role }} </p>
    </div>
    <div class="details">
      <div class="left">
        <p><mat-icon class="icons">alternate_email</mat-icon> {{ user.email }}</p>
        <p><mat-icon class="icons">phone</mat-icon> {{ user.phoneNumber }}</p>
      </div>
      <div class="right">
        <p><mat-icon class="icons">location_on</mat-icon> {{ user.address }}</p>
        <p><mat-icon class="icons">location_city</mat-icon> {{ user.city.name }}</p>
      </div>
    </div>
  </mat-card>
</div>