<mat-card class="reviewable-solution-card">
  <img [src]="image" alt="Item image"/>
  <mat-card-header>
    <mat-card-title class="title">{{ item.name }}</mat-card-title>
  </mat-card-header>

  <div class="stars">
    <mat-icon
      *ngFor="let star of stars; let i = index"
      (click)="rate(i + 1)"
      [ngClass]="{ 'active': rating >= i + 1 }"
      [attr.disabled]="item.rating"
      class="star-icon"
    >
      star
    </mat-icon>
  </div>

  <mat-card-actions>
    <button mat-button class="see-more-button" (click)="onSeeMoreClick()">See more</button>
    <button mat-button (click)="onRate()" *ngIf="!item.rating" [disabled]="rating === 0"> Rate </button>
    <button mat-button (click)="openDialog()"> Comment </button>
  </mat-card-actions>
</mat-card>
