<div class="cards-screen">
    <mat-toolbar class="toolbar">
      <h1 class="title">Products</h1>
      <div class="filters">
        <app-search-bar (searcher)="onSearch($event)"></app-search-bar>
        <button mat-icon-button class="filter-button">
          <mat-icon>tune</mat-icon>
        </button>
      </div>
    </mat-toolbar>
    <div class="product-cards">
      <div class="cards">
        <div *ngFor="let product of products">
          <app-product-card [product]="product" ></app-product-card>
        </div>
      </div>
      <mat-paginator *ngIf="pageProperties" (page)="onPageChanged($event)" [pageIndex]="pageProperties.page" 
      [length]="pageProperties.totalCount" [pageSize]="pageProperties.pageSize">
      </mat-paginator>
    </div>
  </div>
  <!-- <app-product-filter *ngIf="showFilter"></app-product-filter> -->
  <!-- TODO: implement product filter pop up -->