.review-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
  margin: 16px 0;
  width: 100%;
}

.cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 1fr;
  gap: 1rem;
  padding: 16px;
}

.cards-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: #f9f9f9;
  min-height: 100vh;
  box-sizing: border-box;
}

.event-selector {
  width: 100%;
  max-width: 300px;
  margin-bottom: 1rem;
}

.toolbar {
  width: 100%;
  background-color: #E3DCD1;
  color: white;
  display: flex;
  justify-content: center;
  padding: 0.5rem 0;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  font-family: jeju, serif;
  color: #35422F;
  letter-spacing: 0.05em;
  margin: 0;
}
