.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  max-width: 1000px; 
  margin: 0 auto; 
  padding: 20px; 
  font-family: "jeju";
}

.screen {
  height: calc(100vh - 132px);    
}

.left-section,
.right-section {
  flex: 1;
  min-width: 300px;
  max-width: 450px;
}

.full-width {
  width: 100%;
}

.selected-categories {
  margin-top: 10px;
  max-height: 150px;
  overflow-y: auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%; 
  box-sizing: border-box; 
}


.scrollable-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

h2 {
  color: #35422F;
  text-align: center ;
}

.submit-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
} 

.selected-categories ul {
  list-style-type: none;
  padding: 10px;
}

.selected-categories .category-item {
  display: flex;
  align-items: center;
  margin: 5px 0;
  background-color: #ddd;
  padding: 10px;
}

.category-item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.remove-button {
  position: absolute;
  right: 10px;
  margin-top: 4px;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  color: red;
  cursor: pointer;
  padding: 0;
}

.remove-button mat-icon {
  font-size: 20px;
}

#eventDescription {
  min-height: 150px;
}