<div class="screen">
  <div>
    <h2>Enter information about new event type</h2>
    <div class="container" >
      <div class="left-section" [formGroup]="createEventTypeForm">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Name</mat-label>
          <input matInput type="text" id="name" formControlName="name"/>
          <mat-error *ngIf="createEventTypeForm.get('name')?.hasError('required')">
            Name is required
          </mat-error>
        </mat-form-field>
        
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Description</mat-label>
          <textarea matInput id="description" formControlName="description"></textarea>
          <mat-error *ngIf="createEventTypeForm.get('description')?.hasError('required')">
            Description is required
          </mat-error>
        </mat-form-field>
        
      </div>

      <div class="right-section">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Proposed categories of services and products</mat-label>
          <mat-select id="categorySelect" (selectionChange)="onCategorySelect($event)" [(ngModel)]="currentlySelectedCategory">
            <mat-option *ngFor="let category of availableCategories" [value]="category">
              {{ category.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div class="selected-categories">
          <ul>
            <li *ngFor="let category of selectedCategories; let i = index" class="category-item">
              {{ category.name }}
              <button (click)="removeCategory(i)" class="remove-button">
                <mat-icon>close</mat-icon>
              </button>
            </li>
          </ul>
        </div>
        <div *ngIf="selectedCategories.length === 0" class="error-message">
          At least one category must be selected
        </div>        
      </div>
    </div>

    <div class="submit-section">
      <button mat-raised-button color="primary" class="standard-button" (click)="saveEvent()" 
        [disabled]="createEventTypeForm.invalid || selectedCategories.length === 0">
        Save
      </button>
    </div>
  </div>
</div>
