<div class="screen">
  <form class="service-details" [formGroup]="">
    <h4>General</h4>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput/>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Price</mat-label>
      <mat-icon matSuffix>euro</mat-icon>
      <input matInput/>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Discount</mat-label>
      <input matInput/>
    </mat-form-field>
    <mat-form-field class="textarea">
      <mat-label>Description</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>
    <mat-form-field class="textarea">
      <mat-label>Specialties</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>
    <h4>Visibility and availability</h4>
    <section class="checkbox">
      <mat-checkbox class="example-margin">Visible</mat-checkbox>
      <mat-checkbox class="example-margin">Available</mat-checkbox>
    </section>
    <h4>Confirmation</h4>
    <mat-radio-group aria-label="Confirmation">
      <mat-radio-button value="1">Manual</mat-radio-button>
      <mat-radio-button value="2">Automatic</mat-radio-button>
    </mat-radio-group>
    <h4>Deadlines</h4>
    <mat-form-field>
      <mat-label>Reservation date</mat-label>
      <input matInput [matDatepicker]="picker">
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Cancellation date</mat-label>
      <input matInput [matDatepicker]="picker">
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <h4>Duration</h4>
    <mat-form-field>
      <mat-label>Minimum duration</mat-label>
      <input matInput/>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Maximum duration</mat-label>
      <input matInput/>
    </mat-form-field>
  </form>
  <div class="button-save" >
    <button mat-raised-button>Save</button>
  </div>
<div>
