<div class="screen">
  <form class="service-details" [formGroup]="editServiceForm">
    <h4>General</h4>
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput type="text" name="name" formControlName="name"/>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Price</mat-label>
      <mat-icon matSuffix>euro</mat-icon>
      <input matInput type="number" name="price" formControlName="price"/>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Discount</mat-label>
      <input matInput type="number" name="discount" formControlName="discount"/>
    </mat-form-field>
    <mat-form-field class="textarea" appearance="outline">
      <mat-label>Description</mat-label>
      <textarea matInput type="text" name="description" formControlName="description"></textarea>
    </mat-form-field>
    <mat-form-field class="textarea" appearance="outline">
      <mat-label>Specialties</mat-label>
      <textarea matInput type="text" name="specialties" formControlName="specialties"></textarea>
    </mat-form-field>
    <h4>Visibility and availability</h4>
    <section class="checkbox">
      <mat-checkbox name="isVisible" formControlName="isVisible">Visible</mat-checkbox>
      <mat-checkbox name="isAvailable" formControlName="isAvailable">Available</mat-checkbox>
    </section>
    <h4>Reservation Type</h4>
    <mat-radio-group aria-label="Type" formControlName="type">
      <mat-radio-button [value]="ReservationType.MANUAL">Manual</mat-radio-button>
      <mat-radio-button [value]="ReservationType.AUTOMATIC">Automatic</mat-radio-button>
    </mat-radio-group>
    <h4>Deadlines</h4>
    <mat-form-field appearance="outline">
      <mat-label>Reservation date</mat-label>
      <input matInput [matDatepicker]="reservationDeadlinePicker" formControlName="reservationDeadline" name="reservationDeadline">
      <mat-datepicker-toggle matIconSuffix [for]="reservationDeadlinePicker"></mat-datepicker-toggle>
      <mat-datepicker #reservationDeadlinePicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Cancellation date</mat-label>
      <input matInput [matDatepicker]="cancellationDeadlinePicker" formControlName="cancellationDeadline" name="cancellationDeadline">
      <mat-datepicker-toggle matIconSuffix [for]="cancellationDeadlinePicker"></mat-datepicker-toggle>
      <mat-datepicker #cancellationDeadlinePicker></mat-datepicker>
    </mat-form-field>
    <h4>Duration</h4>
    <mat-slider min="1" max="24" step="1" thumbLabel class="duration-slider">
      <input matSliderStartThumb name="minDuration" formControlName="minDuration">
      <input matSliderEndThumb name="maxDuration" formControlName="maxDuration">
    </mat-slider>
    <div>
      <span>Min Duration: {{ editServiceForm.get('minDuration')?.value }} hours</span> |
      <span>Max Duration: {{ editServiceForm.get('maxDuration')?.value }} hours</span>
    </div>
    <div style="margin-right: 2rem">
      <mat-selection-list formControlName="eventTypes" [multiple]="true">
        <mat-list-option *ngFor="let type of eventTypes" [value]="type.id">
          {{ type.name }}
        </mat-list-option>
      </mat-selection-list>
    </div>
  </form>
  <div class="button-save" (click)="onUpdate()">
    <button mat-raised-button>Save</button>
  </div>
</div>
