<div class="screen">
  <form class="service-details" [formGroup]="editServiceForm">
    <h2>Edit Service</h2>
    <div class="form-section">
      <h4 class="section-title">General Information</h4>
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Name</mat-label>
        <input matInput type="text" name="name" formControlName="name"/>
      </mat-form-field>
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Price</mat-label>
        <mat-icon matSuffix>euro</mat-icon>
        <input matInput type="number" name="price" formControlName="price"/>
      </mat-form-field>
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Discount</mat-label>
        <input matInput type="number" name="discount" formControlName="discount"/>
      </mat-form-field>
    </div>

    <h4 class="section-title">Details</h4>
    <div class="form-section">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Description</mat-label>
        <textarea matInput name="description" formControlName="description"></textarea>
      </mat-form-field>
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Specialties</mat-label>
        <textarea matInput name="specialties" formControlName="specialties"></textarea>
      </mat-form-field>
    </div>

    <div class="form-section">
      <h4 class="section-title">Visibility and Availability</h4>
      <section class="checkbox">
        <mat-checkbox name="isVisible" formControlName="isVisible">Visible</mat-checkbox>
        <mat-checkbox name="isAvailable" formControlName="isAvailable">Available</mat-checkbox>
      </section>
    </div>

    <div class="form-section">
      <h4 class="section-title">Reservation Type</h4>
      <mat-radio-group aria-label="Type" formControlName="type">
        <mat-radio-button [value]="ReservationType.MANUAL">Manual</mat-radio-button>
        <mat-radio-button [value]="ReservationType.AUTOMATIC">Automatic</mat-radio-button>
      </mat-radio-group>
    </div>

    <div class="form-section">
      <h4 class="section-title">Deadlines</h4>
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Reservation Deadline (days)</mat-label>
        <input type="number" matInput formControlName="reservationDeadline" name="reservationDeadline">
      </mat-form-field>
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Cancellation Deadline (days)</mat-label>
        <input type="number" matInput formControlName="cancellationDeadline" name="cancellationDeadline">
      </mat-form-field>
    </div>

    <div class="form-section">
      <h4 class="section-title">Duration</h4>
      <mat-slider min="1" max="24" step="1" thumbLabel class="duration-slider">
        <input matSliderStartThumb name="minDuration" formControlName="minDuration">
        <input matSliderEndThumb name="maxDuration" formControlName="maxDuration">
      </mat-slider>
      <div>
        <span>Min Duration: {{ editServiceForm.get('minDuration')?.value }} hours</span> |
        <span>Max Duration: {{ editServiceForm.get('maxDuration')?.value }} hours</span>
      </div>
    </div>

    <div class="form-section">
      <h4 class="section-title">Event Types</h4>
      <mat-selection-list formControlName="eventTypes" [multiple]="true">
        <mat-list-option *ngFor="let type of eventTypes" [value]="type.id">
          {{ type.name }}
        </mat-list-option>
      </mat-selection-list>
    </div>
    <div class="button-save">
      <button mat-raised-button (click)="onUpdate()" class="save-button">Save</button>
    </div>
  </form>

</div>
