html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.standard-button {
    background-color: #35422F !important;
    color: #ECEAE6 !important;
}

@font-face {
  font-family: 'jeju';
  src: url("../public/jejumyeongjo.ttf") format("ttf");;
}