<div class="service-details">
  <mat-card class="service-card">
    <mat-card-header>
      <div class="header-left">
        <mat-card-title> {{ service?.name }} </mat-card-title>
        <mat-card-subtitle> <strong>Category:</strong> {{ service?.category.name }}</mat-card-subtitle>
        <mat-card-subtitle>
          <strong>Event types:</strong>
          <span *ngFor="let eventType of service?.eventTypes; index as i">
            {{ eventType.name }}
            <span *ngIf="i < service?.eventTypes.length - 1">,</span>
          </span>
        </mat-card-subtitle>
      </div>
      <div class="header-right">
        <mat-icon style="color: gold">star</mat-icon>
        <span>{{ service?.rating }}</span>
        <button mat-icon-button (click)="toggleFavouriteService()" *ngIf="loggedIn">
          <mat-icon>{{ isFavourite ? 'favorite' : 'favorite_border' }}</mat-icon>
        </button>
        <span class="price"> &euro;{{ service?.price * (1 - service?.discount / 100) | number:'1.2-2' }}</span>
      </div>
    </mat-card-header>
    <mat-card-content>
      <h3>Description</h3>
      <p>
        {{ service?.description }}
      </p>
      <h3>Specialties</h3>
      <p>
        {{ service?.specialties }}
      </p>
      <div class="images">
        <h3>Gallery</h3>
        <div class="image-carousel">
          <div class="image-wrapper" *ngFor="let image of service?.images">
            <img [src]="image" alt="Company Image" />
          </div>
        </div>
      </div>
    </mat-card-content>

    <mat-card-actions class="footer">
      <div class="info">
        <button mat-icon-button>
          <mat-icon>info</mat-icon>
        </button>
        <span>{{ service?.provider }}</span>
      </div>
      <div class="details">
        <p><strong>Duration:</strong> {{ service?.minDuration }}
          <span *ngIf="service?.minDuration != service?.maxDuration"> - {{ service?.maxDuration }} </span>h
        </p>
        <p><strong>Reservation deadline:</strong> {{ service?.reservationDeadline }} days</p>
        <p><strong>Cancellation deadline:</strong> {{ service?.cancellationDeadline }} days</p>
      </div>
    </mat-card-actions>
    <div class="button-reserve" >
      <button mat-raised-button
              (click)="onClick()"
              [style.opacity]="service?.available ? 1 : 0.2"
              [disabled]="!service?.available" >Reserve</button>
    </div>
  </mat-card>
</div>
