<div class="main-container">
  <p>Welcome!<br> Please fill in the required information to complete your registration and view invitations</p>
  
  <form class="registration-form" [formGroup]="registrationForm">

    <mat-form-field appearance="outline" class="form-control">
      <mat-label>First Name</mat-label>
      <input matInput formControlName="firstName" placeholder="Enter your first name" required />
      <mat-error *ngIf="registrationForm.get('firstName').hasError('required')">
        First name is required.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-control">
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="lastName" placeholder="Enter your last name" required />
      <mat-error *ngIf="registrationForm.get('lastName').hasError('required')">
        Last name is required.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-control">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" type="password" placeholder="Enter your password" required minlength="6" />
      <mat-error *ngIf="registrationForm.get('password').hasError('required')">
        Password is required.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-control">
      <mat-label>Confirm Password</mat-label>
      <input matInput formControlName="passwordConfirmation" type="password" placeholder="Re-enter your password" required />
      <mat-error *ngIf="registrationForm.get('passwordConfirmation').hasError('required')">
        Confirming your password is required.
      </mat-error>
      <mat-error *ngIf="registrationForm.hasError('passwordMismatch')">
        Passwords do not match.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-control">
      <mat-label>City</mat-label>
      <mat-select formControlName="city">
        <mat-option *ngFor="let city of cities" [value]="city">
          {{ city.name }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="registrationForm.get('city').hasError('required')">City is required</mat-error>
    </mat-form-field>

    <div class="form-actions">
      <button mat-raised-button [disabled]="registrationForm.invalid" (click)="processRegistration()">
        Complete Registration
      </button>
    </div>
  </form>
</div>
